@model IEnumerable<DAL.ViewModels.EmployeeVM>

@{
    ViewData["Title"] = "Employee List";
}

<h1>Employee List</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Employee</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Department ID</th>
            <th>Branch ID</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Position</td>
                <td>@item.DepartmentId</td>
                <td>@item.BranchId</td>
                <td><a asp-action="Details" asp-controller="Employee" asp-route-id="@item.EmployeeId" class="btn btn-success">Details</a></td>
                <td><a asp-action="Edit" asp-controller="Employee" asp-route-id="@item.EmployeeId" class="btn btn-warning">Edit</a></td>

                <td><a asp-action="Delete" asp-controller="Employee" asp-route-id="@item.EmployeeId" class="btn btn-danger">Delete</a></td>

            </tr>
        }
    </tbody>
</table>

<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this employee?');
    }
</script>
